<div class="details">
    <div class="adresse m-all t-all d-all">
        <div class="timeline-image"><img class="img-fluid" src="assets/img/rzdProjects/{{Proj.photo}}" alt="..." />
        </div>
    </div>
    <div class="description d-1of2 t-all m-all">
        <h2 class="h4">{{Proj.projName}}</h2>
        <ul style="list-style-type: circle;">
            <li>started On : <em>{{Proj.startDate}}</em> </li>
            <li>ended On : <em>{{Proj.endDate}}</em></li>
        </ul>
        <ul style="list-style-type: square;">
            <li>Client: <h1>{{Proj.client}}</h1></li>
            <li>{{Proj.details}}</li>
        </ul>
    </div>

    <div class="chiffres d-1of4 t-1of2 m-all">
        <h2 class="h4">Key figures</h2>
        <table>
            <tbody>
                <tr>
                    <th>Project start:</th>
                    <td>July 2018</td>
                </tr>
                <tr>
                    <th>Delivery date:</th>
                    <td>End of december 2021</td>
                </tr>
                <tr>
                    <th>Turnover:</th>
                    <td>€100 M</td>
                </tr>
                <tr>
                    <th>GIA :</th>
                    <td>42,000 m²</td>
                </tr>
            </tbody>
        </table>
    </div>


    <div class="intervenants d-1of4 t-1of2 m-all">
        <h2 class="h4">Project team</h2>
        <table>
            <tbody>
                <tr>
                    <th style="width: 279px;">Clients:</th>
                    <td style="width: 450px;">Legendre Real Estate<p></p>
                        <p>Jersey Development Company</p>
                    </td>
                </tr>
                <tr>
                    <th style="width: 279px;">Project Manager/Architect:</th>
                    <td style="width: 450px;">Agence SOM (Skidmore, Owing &amp; Merrill LLP)</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>